@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

*{
    font-family: 'Hedvig Letters Sans', sans-serif;}

h1{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    .cardContainer{
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            min-height: 150px;
            max-height: auto;
        }
        span{
            display: block;
            margin: 5px 0;
            a{
                padding: 0 10px;
            }
        }
    }
    @media (max-width: 500px){
        grid-template-columns: repeat(2, 1fr);
    }
}